<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "true"
    bootstrap                   = "./../../tests/bootstrap.php" >

    <testsuites>
        <testsuite name="Corebundle">
            <directory suffix=".php">./../../tests/Fi/CoreBundle/Collector</directory>
            <directory suffix=".php">./../../tests/Fi/CoreBundle/Command</directory>
            <directory suffix=".php">./../../tests/Fi/CoreBundle/Controller</directory>
            <directory suffix=".php">./../../tests/Fi/CoreBundle/DependencyInjection</directory>
            <directory suffix=".php">./../../tests/Fi/CoreBundle/Entity</directory>
            <directory suffix=".php">./../../tests/Fi/CoreBundle/Form</directory>
            <directory suffix=".php">./../../tests/Fi/CoreBundle/Utils</directory>
            <directory suffix=".php">./../../tests/Fi/CoreBundle/Listener</directory>
        </testsuite>
        <testsuite name="Pannelloamministrazionebundle">
            <directory suffix=".php">./../../tests/Fi/PannelloAmministrazioneBundle/Command</directory>
            <directory suffix=".php">./../../tests/Fi/PannelloAmministrazioneBundle/Controller</directory>
            <directory suffix=".php">./../../tests/Fi/PannelloAmministrazioneBundle/DependencyInjection</directory>
        </testsuite>
        <testsuite name="Corebundle Functional">
            <directory suffix=".php">./../../tests/Fi/CoreBundle/Functional</directory>
        </testsuite>
        <testsuite name="Pannelloamministrazionebundle Functional">
            <directory suffix=".php">./../../tests/Fi/PannelloAmministrazioneBundle/Functional</directory>
        </testsuite>
    </testsuites>
    
    <php>
        <server name="KERNEL_CLASS" value="AppKernel" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0" />
        <env name="BOOTSTRAP_CLEAR_CACHE_ENV" value="test" />
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>./../../src</directory>
            <exclude>
                <directory>./../../src/*Bundle/Resources</directory>
                <directory>./../../src/*/*Bundle/Resources</directory>
                <directory>./../../src/*/Bundle/*Bundle/Resources</directory>
            </exclude>
        </whitelist>
    </filter>
    
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\CoverageListener" />
    </listeners>   
</phpunit>
