<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "false"
    bootstrap                   = "tests/bootstrap.php" >

    <testsuites>
        <testsuite name="Fifree Core Bundle">
            <testsuite name="Collector">
                <directory suffix=".php">./tests/Collector</directory>
            </testsuite>
            <testsuite name="Command">
                <directory suffix=".php">./tests/Command</directory>
            </testsuite>
            <testsuite name="Controller">
                <directory suffix=".php">./tests/Controller</directory>
            </testsuite>
            <testsuite name="DependencyInjection">
                <directory suffix=".php">./tests/DependencyInjection</directory>
            </testsuite>
            <testsuite name="Entity">
                <directory suffix=".php">./tests/Entity</directory>
            </testsuite>
            <testsuite name="Form">
                <directory suffix=".php">./tests/Form</directory>
            </testsuite>
        </testsuite>
    </testsuites>
    
    <php>
        <server name="KERNEL_CLASS" value="AppKernel" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="32" />
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>./src</directory>
        </whitelist>
    </filter>
    
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>   
</phpunit>
