<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "false"
    bootstrap                   = "tests/bootstrap.php" >

    <testsuites>
        <testsuite name="Collector">
            <directory suffix=".php">./tests/Fi/CoreBundle/Collector</directory>
        </testsuite>
        <testsuite name="Command">
            <directory suffix=".php">./tests/Fi/CoreBundle/Command</directory>
        </testsuite>
        <testsuite name="Controller">
            <directory suffix=".php">./tests/Fi/CoreBundle/Controller</directory>
        </testsuite>
        <testsuite name="DependencyInjection">
            <directory suffix=".php">./tests/Fi/CoreBundle/DependencyInjection</directory>
        </testsuite>
        <testsuite name="Entity">
            <directory suffix=".php">./tests/Fi/CoreBundle/Entity</directory>
        </testsuite>
        <testsuite name="Form">
            <directory suffix=".php">./tests/Fi/CoreBundle/Form</directory>
        </testsuite>
        <testsuite name="Utils">
            <directory suffix=".php">./tests/Fi/CoreBundle/Utils</directory>
        </testsuite>
        <testsuite name="CommandPA">
            <directory suffix=".php">./tests/Fi/PannelloAmministrazioneBundle/Command</directory>
        </testsuite>
        <testsuite name="DependencyinjectionPA">
            <directory suffix=".php">./tests/Fi/PannelloAmministrazioneBundle/Dependencyinjection</directory>
        </testsuite>
        <testsuite name="ControllerPA">
            <directory suffix=".php">./tests/Fi/PannelloAmministrazioneBundle/Controller</directory>
        </testsuite>
    </testsuites>
    
    <php>
        <server name="KERNEL_CLASS" value="AppKernel" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="78" />
        <env name="BOOTSTRAP_CLEAR_CACHE_ENV" value="test" />
        <env name="HTTP_TEST_HOST" value="http://127.0.0.1:8000" />
        <env name="HTTP_TEST_URL" value="/app_test.php" />
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>./src</directory>
        </whitelist>
    </filter>
    
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
        <listener class="Symfony\Bridge\PhpUnit\CoverageListener" />
    </listeners>   
</phpunit>
