<div id="testataallegatipopup" class="ui-jqdialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle" style="height: 15px;">
  Allegati per {{nometabella}}  ({{id}})
  <a class="fi-default-chiudi ui-jqdialog-titlebar-close ui-corner-all ui-state-hover" onclick="chiudiDettaglio({div: '#gestioneallegati'});" style="right: 0.3em;"><span class="ui-icon ui-icon-closethick"></span></a>
</div>

<div id="corpoallegatipopup" class="ui-jqdialog-content ui-widget-content">

  <table id="listallegati">
  </table> 
  <div id="pagerallegati">
  </div> 

</div>
<script type="text/javascript">
  $(document).ready(function () {
    caricaGriglia({{ testata|raw }});
    $(".ui-jqgrid-bdiv").focus();
  });
</script>