<div id="testatadettaglio" class="ui-jqdialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">Nuova riga 
  <a class="fi-default-chiudi ui-jqdialog-titlebar-close ui-corner-all ui-state-hover" onclick="chiudiDettaglioAllegati({});" style="right: 0.3em;"><span class="ui-icon ui-icon-closethick"></span></a>
</div>
<iframe height=200  frameborder=0 src="{{ url('allegati_newiframe', {'nometabella': nometabella,'indicetabella':indicetabella }) }}"></iframe>

<script type="text/javascript">
  function chiudiDettaglioAllegati() {
    chiudiDettaglio({});
    $('#listallegati').trigger('reloadGrid');
  }
</script>